
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print ">
        <section class="sidebar" id="sidebar-scroll" style="background:transparent;background-position: center;background-repeat: no-repeat;background-size: cover; height: 656px !important;">
            <a href="/superadmin" class="logo"><img class="img-fluid able-logo" src="../assets//images/logo.png" alt="Theme-logo"></a>
       <!-- Sidebar Menu-->
       <ul class="sidebar-menu">
           <li class="active treeview">
               <a class="waves-effect waves-dark" href="/superadmin">
                   <!-- <i class="fa fa-tachometer yellow_color" ></i> -->
                   <img src="../assets//images/sidebar-icon/sidebar-1.png">
                   <span> Dashboard</span>
               </a>                
           </li>
   
   <!-- SIDEBAR LIST TAG END  -->
   
           <li class="treeview"><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-user green_color"></i> --> <img src="../assets//images/sidebar-icon/sidebar-2.png">
             <span>User Management</span><i class="icon-arrow-down "></i></a>
             <ul class="treeview-menu">
                 <li><a class="waves-effect waves-dark" href="/owner/addUser"><img src="../assets//images/sidebar-icon/user-1.png"> Add User </a></li>
                 <li><a class="waves-effect waves-dark" href="/owner/viewUsers"><img src="../assets//images/sidebar-icon/user-2.png"> View User </a></li>
                  <!-- <li><a class="waves-effect waves-dark" href="/owner/user_withdrawal_report"><img src="../assets//images/sidebar-icon/user-3.png"> User Withdrawl Report </a></li> -->
                 <li ><a class="waves-effect waves-dark" href="/owner/user_document_management"> <img src="../assets//images/sidebar-icon/user-4.png"> <span> User Documents Mgmt </span></a></li>
             </ul>
         </li>
   
   <!-- SIDEBAR LIST TAG END  -->
   
           <li class="treeview"><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-briefcase purple_color"></i> --> <img src="../assets//images/sidebar-icon/sidebar-3.png">
             <span> Owner Management </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
                   <li><a class="waves-effect waves-dark" href="/owner/addOwner"><img src="../assets//images/sidebar-icon/owner-4.png"> Add Owner </a></li>
                   <li><a class="waves-effect waves-dark" href="/owner/viewOwners"><img src="../assets//images/sidebar-icon/owner-4.png"> View Owner </a></li>
                   <!-- <li><a class="waves-effect waves-dark" href="/owner/Owner_withdrawal_report"><img src="../assets//images/sidebar-icon/owner-4.png"> Owner Withdrawl Report </a></li> -->
                     <li><a class="waves-effect waves-dark" href="/owner/Owner_document_management">
                <img src="../assets//images/sidebar-icon/owner-4.png">
                <span> Owner Documents Mgmt </span></a>
           </li>
               </ul>
           </li>
   
   <!-- SIDEBAR LIST TAG END  -->
   
           <li class="treeview"><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-4.png">
             <span> Report </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
               <li><a class="waves-effect waves-dark" href="/owner/pending_bookings"><img src="../assets//images/sidebar-icon/report-4.png"> 
               Pending Report </a></li>
               <li><a class="waves-effect waves-dark" href="/owner/confirmed_bookings"><img src="../assets//images/sidebar-icon/report-4.png"> Confirm Report </a></li>
                <li><a class="waves-effect waves-dark" href="/owner/ongoing_bookings"><img src="../assets//images/sidebar-icon/report-4.png"> Ongoing Report </a></li>
               <li><a class="waves-effect waves-dark" href="/owner/completed_bookings"><img src="../assets//images/sidebar-icon/report-4.png"> Complete Report </a></li>
                <li><a class="waves-effect waves-dark" href="/owner/cancelled_bookings"><img src="../assets//images/sidebar-icon/report-4.png"> Cancel Report </a></li>
   
               </ul>
           </li>
   <!-- SIDEBAR LIST TAG END  -->
   
           <li class="treeview"><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-briefcase purple_color"></i> --> <img src="../assets//images/sidebar-icon/sidebar-3.png">
             <span> Vehical Management </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
             <li ><a class="waves-effect waves-dark" href="/owner/vehicleCategory">
             <!-- <i class="fa fa-cubes blue2_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-6.png">
             <span> Vehical Category / Make </span> </a>
           </li>
           <li><a class="waves-effect waves-dark" href="/owner/vehicleModel">
                <!-- <i class="fa fa-credit-card-alt purple_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-29.png">
                <span> Vehical Model </span></a>
           </li>
           <li ><a class="waves-effect waves-dark" href="/owner/vehicleTypes">
             <!-- <i class="fa fa-bandcamp yellow_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-7.png">
             <span> Vehical Type </span></a>
           </li>
           <li><a class="waves-effect waves-dark" href="/owner/vehicleFeatures">
           <!-- <i class="fa fa-calendar orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-8.png">
           <span> Vehical Features </span></a>
           </li>
              <li><a class="waves-effect waves-dark" href="/owner/viewVehicles">
                <!-- <i class="fa fa-car purple_color2"></i> --><img src="../assets//images/sidebar-icon/sidebar-9.png">
               <span> View Vehicals </span></a>
           </li>
           <li>
               <a class="waves-effect waves-dark" href="/owner/promotional_plans">
                   <!-- <i class="fa fa-building green_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-16.png">
                   <span> Vehial Sponser </span>
               </a>                
           </li>
            </ul>
           </li>
   <!-- SIDEBAR LIST TAG END  -->
   
             <li class="treeview"><a class="waves-effect waves-dark" href="/owner/addSubadmin">
             <!-- <i class="fa fa-bandcamp yellow_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-4.png">
             <span> Create Subadmin </span></a>
           </li>
   <!-- SIDEBAR LIST TAG END  -->
   
             <li class="treeview"><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-briefcase purple_color"></i> --> <img src="../assets//images/sidebar-icon/sidebar-3.png">
             <span> Settings </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
               <li><a class="waves-effect waves-dark" href="/owner/addCountry">
                <!-- <i class="fa fa-cogs green_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-10.png">
                <span> Add Country </span></a>
           </li>
           
           <!-- <li>
               <a class="waves-effect waves-dark" href="/owner/multi_currency">
                <img src="../assets//images/sidebar-icon/sidebar-11.png">
            <span> Multi Currency </span>
               </a>                
           </li> -->

              <li>
           <a class="waves-effect waves-dark" href="/owner/general_setting">
           <!-- <i class="fa fa-cogs blue2_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-12.png">
            <span> General Setting </span>
               </a>                
           </li>
           <li>
               <a class="waves-effect waves-dark" href="/owner/addAppSlider">
               <!-- <i class="fa fa-weibo blue2_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-15.png">
                <span> Add App Slider   </span>
               </a>                
           </li>
           
           <!-- <li>
               <a class="waves-effect waves-dark" href="/owner/addVideo">
              <img src="../assets//images/sidebar-icon/sidebar-5.png">
            <span> Add Video </span>
               </a>                
           </li> -->

            </ul>
           </li>
   <!-- SIDEBAR LIST TAG END  -->
   
              <li class="treeview"><a class="waves-effect waves-dark" href="/owner/notifications">
                <!-- <i class="fa fa-edit orange_color2"></i> --><img src="../assets//images/sidebar-icon/sidebar-13.png">
                <span> Notification </span></a>
           </li>
   <!-- SIDEBAR LIST TAG END  -->
   
            <li class="treeview"><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-star orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-17.png">
             <span> Ratings Managements  </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
                   <li><a class="waves-effect waves-dark" href="/owner/userRatings"><img src="../assets//images/sidebar-icon/ratings-1.png"> User Rating </a></li>
                   <li><a class="waves-effect waves-dark" href="/owner/ownerRatings"><img src="../assets//images/sidebar-icon/ratings-2.png"> Owner Rating </a></li>
               </ul>
           </li>
   <!-- SIDEBAR LIST TAG END  -->
   
             <li class="treeview"><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-star orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-15.png">
             <span> Afflications </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
               <li>   <a class="waves-effect waves-dark" href="/owner/affiliation">
                <!-- <i class="fa fa-credit-card-alt purple_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-24.png">
                <span> Afflications </span></a>
             </li>
               <li><a class="waves-effect waves-dark" href="/owner/referralAmounts">
             <!-- <i class="fa fa-envelope blue2_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-18.png">
             <span> Referral Amounts </span></a>
           </li>
               <li ><a class="waves-effect waves-dark" href="/owner/deposits_fee">
                <!-- <i class="fa fa-credit-card-alt purple_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-19.png">
                <span> Deposits Fee Details </span></a>
           </li>
               </ul>
           </li>
   <!-- SIDEBAR LIST TAG END  -->
   
            <li class="treeview"><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-4.png">
             <span> Cms Setting </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
                   <li><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-20.png">
             <span> Faq </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
               <li><a class="waves-effect waves-dark" href="/owner/users_faqs"><i class="icon-arrow-right"></i> User FAQs </a></li>
               <li><a class="waves-effect waves-dark" href="/owner/owners_faqs"><i class="icon-arrow-right"></i> Owner FAQs </a></li>
               </ul>
           </li>
            <li><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-21.png">
             <span> Privacy & Policy </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
               <li><a class="waves-effect waves-dark" href="/owner/users_privacy_policy"><i class="icon-arrow-right"></i> User Privacy & Policy </a></li>
               <li><a class="waves-effect waves-dark" href="/owner/owners_privacy_policy"><i class="icon-arrow-right"></i> Owner Privacy & Policy </a></li>
               </ul>
           </li>



           <li><a class="waves-effect waves-dark" href="#!">
            <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-21.png">
            <span> Cancellation Policy </span><i class="icon-arrow-down "></i></a>
              <ul class="treeview-menu">
              <li><a class="waves-effect waves-dark" href="/owner/users_cancellation_policy"><i class="icon-arrow-right"></i> User Cancellation Policy </a></li>
              <li><a class="waves-effect waves-dark" href="/owner/owners_cancellation_policy"><i class="icon-arrow-right"></i> Owner Cancellation Policy </a></li>
              </ul>
          </li>

              <li><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-22.png">
             <span> Terms And Condition </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
               <li><a class="waves-effect waves-dark" href="/owner/users_terms_condition"><i class="icon-arrow-right"></i> User Terms & Condition </a></li>
               <li><a class="waves-effect waves-dark" href="/owner/owners_terms_condition"><i class="icon-arrow-right"></i> Owner Terms & Condition </a></li>
               </ul>
           </li> 
               </ul>
           </li>
   <!-- SIDEBAR LIST TAG END  -->
                  <li class="treeview"><a class="waves-effect waves-dark" href="/owner/discount_coupons">
                <!-- <i class="fa fa-credit-card-alt purple_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-25.png">
                <span> Add coupan code </span></a>
           </li>
   <!-- SIDEBAR LIST TAG END  -->
                   <li class="treeview"><a class="waves-effect waves-dark" href="#!">
             <!-- <i class="fa fa-edit orange_color"></i> --><img src="../assets//images/sidebar-icon/sidebar-23.png">
             <span> Support Call Center </span><i class="icon-arrow-down "></i></a>
               <ul class="treeview-menu">
               <li><a class="waves-effect waves-dark" href="/owner/inquiry_contacts"><img src="../assets//images/sidebar-icon/supports-1.png"> Inquiry Contacts </a></li>
               <li><a class="waves-effect waves-dark" href="/owner/about_us"><img src="../assets//images/sidebar-icon/supports-2.png"> About </a></li>
                <li><a class="waves-effect waves-dark" href="/owner/queries"><img src="../assets//images/sidebar-icon/supports-3.png"> Query Tickets </a></li>
               </ul>
           </li>
       </ul>
    </section>
   </aside>


   <script>
    
    function highlightActiveLink() {
    const savedPath = localStorage.getItem('activePath') || window.location.pathname;

    // Remove 'active' class from any previously active elements
    document.querySelectorAll('.sidebar-menu li').forEach((li) => {
        li.classList.remove('active');
    });

    // Find the matching link and its parent elements
    const activeLink = document.querySelector(`a[href="${savedPath}"]`);

    if (activeLink) {
        // Add 'active' class to the parent <li> of the active link
        let parentLi = activeLink.closest('li');
        while (parentLi) {
            parentLi.classList.add('active');
            // Check if the current parentLi has a `.treeview` and expand it
            const parentTreeview = parentLi.closest('.treeview');
            if (parentTreeview) {
                parentTreeview.classList.add('active');
            }
            // Go one level up for nested lists
            parentLi = parentLi.closest('ul').closest('li');
        }
    }
}

// Call the function on page load
document.addEventListener('DOMContentLoaded', highlightActiveLink);

// Add event listeners to all sidebar links
document.querySelectorAll('.sidebar-menu a').forEach((link) => {
    link.addEventListener('click', function () {
        // Store the clicked path in localStorage
        localStorage.setItem('activePath', this.pathname);
        // Manually trigger highlighting on click
        highlightActiveLink();
    });
});



    



// On page load, retrieve it
// const savedPath = localStorage.getItem('activePath');
// if (savedPath) {
//   document.querySelector(`a[href="${savedPath}"]`).closest('li').classList.add('active');
// }

  </script>
  