<%- include ("superheader.ejs") %>
<%- include ("supersidebar.ejs") %>



      <!-- Sidebar chat end-->
      <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <!-- Main content starts -->
        <div class="container-fluid">
           <div class="row">
              <!-- <div class="main-header">
                 <h4>Dashboard</h4>
              </div> -->
           </div>
           <!-- Ro Start  -->
           <!-- 4-blocks row start -->
         <div class="row">
      <div class="col-lg-6">
           <div class="header-boxes card">
             <div class="heading">
               <h3> <i class="fa fa-bar-chart"></i> Site Statistics </h3>
            </div>
            <div class="heade-center">
                <div class="row">
                    <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-user text-success border-success"></i> -->
                                   <img src="../assets//images/dash-icon/dash-icon-1.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Total User</div>
                                   <div class="stat-digit">1,012</div>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-user text-primary border-primary"></i> -->
                                   <img src="../assets//images/dash-icon/dash-icon-2.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Total Owner</div>
                                   <div class="stat-digit">961</div>
                               </div>
                           </div>
                       </div>
                   </div>
                       
                <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-money text-danger border-danger"></i> -->
                                   <img src="../assets//images/dash-icon/dash-icon-3.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Total Earnings</div>
                                   <div class="stat-digit">Rs 99861</div>
                               </div>
                           </div>
                       </div>
                   </div>
                       <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-money text-danger border-danger"></i> -->
                                   <img src="../assets//images/dash-icon/dash-icon-8.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Admin Earnings</div>
                                   <div class="stat-digit">Rs 60861</div>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
          </div>
      </div>
      <!-- col 6 -->
    <div class="col-lg-6">
           <div class="header-boxes card">
             <div class="heading">
               <h3> <i class="fa fa-bar-chart"></i> Ride Statistics </h3>
            </div>
            <div class="heade-center">
                <div class="row">
                    <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-user text-success border-success"></i> -->
                                   <img src="../assets//images/dash-icon/dash-icon-4.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Total Rides</div>
                                   <div class="stat-digit">1,012</div>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-user text-primary border-primary"></i> --><img src="../assets//images/dash-icon/dash-icon-5.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Total Car</div>
                                   <div class="stat-digit">961</div>
                               </div>
                           </div>
                       </div>
                   </div>

                     <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-money text-danger border-danger"></i> --><img src="../assets//images/dash-icon/dash-icon-9.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Pending Rides</div>
                                   <div class="stat-digit">Rs 99</div>
                               </div>
                           </div>
                       </div>
                   </div>
                     <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-money text-info border-danger"></i> -->
                                   <img src="../assets//images/dash-icon/dash-icon-10.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Ongoing Rides</div>
                                   <div class="stat-digit">Rs 61</div>
                               </div>
                           </div>
                       </div>
                   </div>
                       
                <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-money text-danger border-danger"></i> --><img src="../assets//images/dash-icon/dash-icon-6.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Cancel Rides</div>
                                   <div class="stat-digit">Rs 99861</div>
                               </div>
                           </div>
                       </div>
                   </div>
                     <div class="col-lg-6">
                       <div class="cards">
                           <div class="stat-widget-one card-body">
                               <div class="stat-icon d-inline-block">
                                   <!-- <i class="ti-money text-info border-danger"></i> -->
                                   <img src="../assets//images/dash-icon/dash-icon-7.png">
                               </div>
                               <div class="stat-content d-inline-block">
                                   <div class="stat-text">Complete Rides</div>
                                   <div class="stat-digit">Rs 99861</div>
                               </div>
                           </div>
                       </div>
                   </div>

                </div>
            </div>
          </div>
      </div>
      <!-- col 6 -->
           </div>
           <!-- 4-blocks row end -->


<!-- row -->
         <div class="row">
      <div class="col-lg-6">
           <div class="header-boxes card">
             <div class="heading">
               <h3> <i class="fa fa-bar-chart"></i> Rides </h3>
            </div>
            <div class="heade-center">
               <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
            </div>
          </div>
      </div>
      <!-- col-6 -->
       <div class="col-lg-6">
           <div class="header-boxes card">
             <div class="heading">
               <h3> <i class="fa fa-bar-chart"></i> Owners </h3>
            </div>
            <div class="heade-center">
              <canvas id="chart-doughnut" style="height: 300px; width: 100%;"></canvas>
            </div>
          </div>
      </div>
      <!--  -->
           </div>

        </div>
  
     </div>
  </div>





<%- include ("superfooter.ejs") %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
            document.cookie = 'rental_msg'+'=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/';
            document.cookie = 'rental_msg'+'=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            document.cookie = 'rental_user_id'+'=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
       
    });
</script> 