

<%- include ("header.ejs") %>


  <main class="main">

    <!-- Home Section -->
    <section id="hero" class="hero section light-background">
      <img src="assets/img/kwl-bg.jpg" alt="Kingston Wharves" data-aos="fade-in" style="opacity: 0.4;">
      <div class="container position-relative">
        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>Kingston Wharves Limited</h2>
          <p>Warehouse Appointment System</p>
        </div>
        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
              <h3 style="font-size: 24px;">Why Choose KWL Appointment System?</h3>
              <p>Welcome to the Kingston Wharves’ Less than Container Load (LCL)
                Online Platform for the convenient and simple reservation of cargo
                clearance from KWL warehouses – Total Logistics Facility (TLF), Kingport
                Warehouse Complex and Berth 5 Warehouse.</p>
              <div class="text-center">
                <a href="/booking_availability" class="more-btn"><span>Make Appointment</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="d-flex flex-column justify-content-center">
              <div class="row gy-4">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                    <i class="bi bi-chat-dots"></i> <!-- Consultation Icon -->
                    <h4>Consultation</h4>
                    <p>A 30-minute session to discuss your requirements and explore options.</p>
                  </div>
                </div>
                
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                    <i class="bi bi-repeat"></i> <!-- Follow-up Appointment Icon -->
                    <h4>Follow-up Appointment</h4>
                    <p>A 15-minute review of your progress or updates.</p>
                  </div>
                </div>
                
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                    <i class="bi bi-pencil-square"></i> <!-- Custom Appointment Icon -->
                    <h4>Custom Appointment</h4>
                    <p>Tailored to your specific needs; duration and details will vary.</p>
                  </div>
                </div>                
    
              </div>
            </div>
          </div>
        </div>
        <!-- End Content-->
      </div>
    </section><!-- /Home Section -->

    <!-- Stats Section --
    <section id="stats" class="stats section light-background">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-box"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1" class="purecounter"></span>
              <p>Cargo Items Processed Daily</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-truck"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
              <p>Trucks <br>Operated</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-users"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="120" data-purecounter-duration="1" class="purecounter"></span>
              <p>Customers <br>Served</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-calendar-check"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1" class="purecounter"></span>
              <p>Appointments Scheduled</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section"> 
      <div class="container" data-aos="fade-up"> 
        <!-- Section Title -->
        <div class="section-title text-center" style="padding-bottom: 0px;">
          <h2 class="mb-3">Please Note</h2> 
        </div> 

        <!-- Content -->
        <div class="row gy-4 justify-content-center"> 
          <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100"> 
            <div class="service-item bg-light p-4 rounded shadow position-relative"> 
              <ul class="list-unstyled">
                <li class="mb-3">
                  You will need your
                  <i class="bi bi-box-arrow-in-right text-primary me-2"></i>
                  <strong>Bill of Lading Information</strong> to complete your appointment.
                </li>
                <li class="mb-3">
                  You may need your
                  <i class="bi bi-file-earmark-check text-primary me-2"></i>
                  <strong>Customs Release/IMS4 Declaration</strong> number to complete your appointment.
                </li>
                <li class="mb-3">
                  Appointments are to be
                  <i class="bi bi-clock text-primary me-2"></i>
                  <strong>made by 3pm on weekdays for next business day delivery</strong>
                </li>
                <li class="mb-3">
                  Express (same day) Appointments are
                  <i class="bi bi-lightning-charge text-primary me-2"></i>
                  <strong>accepted 2 hours in advance </strong> of clearance time.
                </li>
              </ul>
              <p class="text-muted mb-4">
                A confirmation email will be sent to your email address once sign-up is completed.
              </p>
              <div class="alert alert-info">
                <i class="bi bi-envelope text-primary me-2"></i>
                <strong>Need Help?</strong> If you have any issues making your appointment, please email:
                <a href="mailto:customer.services@kwljm.om" mailto:class="text-primary">customer.services@kwljm.om</a>
              </div>
            </div> 
          </div>  
        </div> 
      </div>
    </section>
    <!-- /Services Section -->


    <!-- Contact Section -->
    <section id="contact" class="contact section" style="padding: 10px 0 60px 0;">
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
        <p>"We’re here to help with any questions or support you need. Reach out to us, and we’ll be in touch soon!"</p>
      </div>
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <form action="/contact_us" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="row gy-4">
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Enter the name" required="">
                </div>
                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Enter the email" required="">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Enter the subject" required="">
                </div>
                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Write your message here..." required=""></textarea>
                </div>
                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                  <button type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div><!-- End Contact Form -->
          <div class="col-lg-3"></div>
        </div>
      </div>
    </section>
    <!-- /Contact Section -->

  </main>


    
<%- include ("footer.ejs") %>
