
<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="canonical" href="https://app.acuityscheduling.com/schedule.php?owner=33788339">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Schedule Appointment with KWL Booking</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
		<meta name="referrer" content="same-origin">
		<meta name="format-detection" content="date=no">
		<meta name="description" content="Schedule your appointment online  KWL Booking" />
		<meta property="fb:app_id" content="465400520261032" />
				<meta property="og:type" content="website" />
		<meta property="og:url" content="https://app.acuityscheduling.com/schedule.php?owner=33788339&template=monthly" />		<meta property="og:title" content="KWL Booking" />
		<meta name="fb:extensions:title" content="KWL Booking" />
		<meta property="og:description" content="Schedule your appointment online  KWL Booking" />
		<meta property="og:image" content="https://cdn-s.acuityscheduling.com/logo33788339.jpg?1729933999" />		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:url" content="https://app.acuityscheduling.com/schedule.php?owner=33788339" />		<meta name="twitter:title" content="KWL Booking" />
		<meta name="twitter:description" content="Schedule your appointment online  KWL Booking" />
		<meta name="fb:extensions:title" content="Choose Appointment" />
		
		
		<meta name="twitter:image" content="https://cdn-s.acuityscheduling.com/logo33788339.jpg?1729933999" />				<!-- inject:css -->
		<link href="https://cdn-marketing.acuityscheduling.com/built/csp/schedule.css?v=e06c6b" rel="stylesheet">
		<!-- endinject -->
		<style type="text/css" media="all" nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">
		body { font-family: Source Sans Pro,Arial,Helvetica,sans-serif; }	.content {  background-color: #fff0f0; background-image: none; }
	.table tr { background-color: #fff0f0; }
	.steps { background-color: transparent; }
	.steps li:not(:last-child):after { border-left-color: #fff0f0; }
	.steps li.active { background-color: #FFFFFF; }
	.steps li.active:not(:last-child):after { border-left-color: #FFFFFF; }	.content, .calendarHeading a { color: #040000; }
	.select .select-label, .select .duration-container { color: #000000; }
	a.branded:hover, a.branded:focus, a.btn-link:hover, a.btn-link:focus { color: #040000; }
	a.branded { color: #000000; }
	#step-forms .control-label, #appointment-form .custom-form .control-label, #step-forms .is-focused label, #appointment-form .custom-form .is-focused label { color: #040000; }
	.certificate-input .control-label, .appointment-time .text-muted, .steps li a, .steps li.active a { color: #040000; }
	.catalog-item .description, .addon-price, .addon-duration { color: #040000; }
	.type-description.text-muted { color: #040000; opacity: 0.85; margin-bottom: 10px; }
	.select-item .text-muted { color: #040000 !important; }.business-name { color: #f6f6f6; text-shadow: none; }
body { background: #000000; background-image: none; }
	a, a:hover, a:focus, a.btn-link { color: #230000; }
	.btn-inverse { border-color: #230000; }
	.btn-inverse:active, .btn-inverse:hover { background-color: #230000; }
	.choose-time-container label:hover, .choose-time-container label.checked, .btn-info,
	.btn-primary.disabled, .btn-primary[disabled], .btn-primary, .btn-primary:focus, .btn.btn-primary.btn-block.btn-next-step, .btn.btn-primary.submit-forms-payment,
	.btn.btn-primary:hover, .btn.btn-primary:active { background: #230000; background-image: none; }
	.calendar .scheduleday.activeday:hover, .choose-time-container label.checked, .choose-time-container label:hover, .choose-date .calendar .activeday:hover, .choose-date .calendar .selectedday { background: #230000; background-image: none; }
	.choose-date-time .choose-date-times .choose-time input[type="radio"]+label:hover, .reschedule-choose-date-time .choose-time input[type="radio"]+label:hover,
	.choose-date-time .date .choose-time-actions, .date .choose-time input[type="radio"]:checked+label,
		.reschedule-choose-date-time .date .choose-time input[type="radio"]:checked+label, .reschedule-choose-date-time .date .choose-time-actions,
		.choose-date-time .date-head-text, .reschedule-choose-date-time .date-head-text
		 { border-color: #230000; color: #230000; }
	.steps li.active { border-bottom-color: #230000; }
	.form-control:focus, .sq-input--focus { border-color: #230000; box-shadow: none; }
	.step-number { background-color: #230000; }		</style>
		
		
        				<script nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">var ACUITY_LOG_EMBED = true;</script>		<script nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">
		/*@cc_on
			@if (@_jscript_version <= 10)
				var _IE_LTE_10_ = true;
			@end
		@*/
		</script>
		<script type="text/javascript" nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">
		
		window.Acuity = window.Acuity || {};
		window.Acuity.bootstrap = {"ownerKey":"42644ba2","ownerId":33788339,"isStandaloneMonthlyCalendarUser":true,"defaultToClientTimezone":false,"business":{"id":33788339,"ownerKey":"42644ba2","billingLevel":"Emerging","color":"230000","currencySymbol":"$","currencyAbbreviation":"USD","name":"KWL Booking","description":"","url":"https:\/\/app.acuityscheduling.com\/schedule.php?owner=33788339","prettyUrl":"https:\/\/app.acuityscheduling.com\/schedule.php?owner=33788339","logoUrl":"https:\/\/cdn-s.acuityscheduling.com\/logo33788339.jpg?1729933999","enableClassQuantity":false,"hideAnyAvailable":false,"hideSpots":false,"hideSpotsClasses":false,"hideSpotsServices":true,"hidePoweredBy":false,"hidePrice":false,"hideDuration":false,"disableRecurring":false,"enableTipping":false,"isRequiredClientPhoneForAppointment":false,"defaultToClientTimezone":false,"clientCanEditTimezone":false,"canClientsReschedule":true,"canClientsCancel":true,"showBusinessName":false,"isIntegratedSquarespace":true,"collapseCategories":false,"allowCheckingPackageCodes":false,"disableRegistration":false,"isHipaa":false,"allowCodeRedemptionWithoutPayment":false,"initiallyAppliedCertificateCode":null,"calendars":{"":[{"id":10974205,"name":"Kilvish Birla","description":"","location":"","timezone":"Asia\/Kolkata","thumbnail":"","image":""}]},"template":"","startOnMonday":false,"timeFormat":"ampm","timezone":"Asia\/Kolkata","language":"en","font":{"familyName":"Source Sans Pro","displayName":"Source Sans Pro","normalizedName":"source-sans-pro","foundry":"system","config":{"cssLine":"body { font-family: Source Sans Pro,Arial,Helvetica,sans-serif; }"}},"featureFlags":["copy-jobs-enabled-flag","mobile-admin-trial-account-creation","stripe-payment-intent-webhook-event","enterprise-export-fail-fast","mobile-invoice-buttons","mobile-account-deletion","invoices-scheduling-app-promotion","disable-billing-sync-polling","growing-trial-relaunch","csp-event-reporting","availability-include-dst-offset","disable-member-user--polling","pylon-select-multiple-time-slots","sync-ownership-before-disable-account","tag-canceled-users-in-zd","disable-paypal-transaction-search","use-only-client-phone-index","absolute_rate_limit","apply-max-to-phone-on-client-filter-query","emit-order-email-change-event","rwg-disconnect","catalog-rate-limit","mobile-sqsp-fab-and-bottom-sheet","mobile-stripe-version-two","use-min-max-check-in-followup-email","mobile-event-logger-version-two","mobile-tipping-settings","pylon-api-ip-rate-limiter","schedule-price-refresh-annual","schedule-price-refresh-monthly","price-refresh-free-plan","batch-calendar-hour-inserts","pylon-entry-point-ip-rate-limiter","disable-ro-for-pylon-booking","price-refresh-fix-billing-period","datadog-rum","enable-push-notification-queue","mobile-app-reports","get-appointment-types-forced-index","disable-symfony-rate-limit-locking","mobile-i18n-locale-query-param","enable-appointment-reminder-push-notification","mobile-app-appointments-changelog","brand-refresh-2023-csp","website-parent-user-sync","fbe-graph-api-upgrade","enterprise-frontsite-rebrand","user-updates-payment-terms-v2event","oauth-consent-screen","signup-faq-contact-enterprise","stripe-payment-element-enabled","ph-phplus-inline-messaging","new-get-calendar","fix-category-shorties","create_sqsp_enterprise_org","fetch-appointment-forms-optimization","mobile-app-email-receipt","pylon-use-checkout-config","stripe-google-pay-enabled","experiment-exterior-admin-url","frontsite-pricing-with-enterprise","instrument-babel-access","batch-update-appointment-type-ids","use-new-transactional-domain-email-flag","sms-send-limit-resub-accounts","pylon-support-phase-3-payment-options","decode-html-entities-in-location-page-fix","stripe-domain-registration","load-client-users-async","experiment-admin-url","recaptcha-score-use-dd-metrics-logging","use-appointment-subqueries-and-limit","hide-onboarding-wizard-abtest","stripe-apple-pay-enabled","disable-deprecated-payment-processors","new-pricing-page","deprecated-payment-processor-banner","payments-education-module","order-summary-deposit-amount","enterprise-separate-invited-users","datadog-browser-logs","reduce-stripe-minimum-charge-amount","validate-service-ids","plan-based-trial","paging-website-facade-request","deprecated-payment-processor-modal","mobile-store-stripe-generated-cards","in-app-promo-banner","invoice-decouple-single-page","tip-event-reporting","pylon-detailed-payment-error-handling","update-subscription-events"]}} || {};
		window.Acuity.bootstrap.featureFlags = ["copy-jobs-enabled-flag","mobile-admin-trial-account-creation","stripe-payment-intent-webhook-event","enterprise-export-fail-fast","mobile-invoice-buttons","mobile-account-deletion","invoices-scheduling-app-promotion","disable-billing-sync-polling","growing-trial-relaunch","csp-event-reporting","availability-include-dst-offset","disable-member-user--polling","pylon-select-multiple-time-slots","sync-ownership-before-disable-account","tag-canceled-users-in-zd","disable-paypal-transaction-search","use-only-client-phone-index","absolute_rate_limit","apply-max-to-phone-on-client-filter-query","emit-order-email-change-event","rwg-disconnect","catalog-rate-limit","mobile-sqsp-fab-and-bottom-sheet","mobile-stripe-version-two","use-min-max-check-in-followup-email","mobile-event-logger-version-two","mobile-tipping-settings","pylon-api-ip-rate-limiter","schedule-price-refresh-annual","schedule-price-refresh-monthly","price-refresh-free-plan","batch-calendar-hour-inserts","pylon-entry-point-ip-rate-limiter","disable-ro-for-pylon-booking","price-refresh-fix-billing-period","datadog-rum","enable-push-notification-queue","mobile-app-reports","get-appointment-types-forced-index","disable-symfony-rate-limit-locking","mobile-i18n-locale-query-param","enable-appointment-reminder-push-notification","mobile-app-appointments-changelog","brand-refresh-2023-csp","website-parent-user-sync","fbe-graph-api-upgrade","enterprise-frontsite-rebrand","user-updates-payment-terms-v2event","oauth-consent-screen","signup-faq-contact-enterprise","stripe-payment-element-enabled","new-get-calendar","fix-category-shorties","create_sqsp_enterprise_org","fetch-appointment-forms-optimization","mobile-app-email-receipt","pylon-use-checkout-config","stripe-google-pay-enabled","experiment-exterior-admin-url","frontsite-pricing-with-enterprise","instrument-babel-access","batch-update-appointment-type-ids","use-new-transactional-domain-email-flag","sms-send-limit-resub-accounts","pylon-support-phase-3-payment-options","decode-html-entities-in-location-page-fix","stripe-domain-registration","load-client-users-async","experiment-admin-url","recaptcha-score-use-dd-metrics-logging","use-appointment-subqueries-and-limit","hide-onboarding-wizard-abtest","stripe-apple-pay-enabled","disable-deprecated-payment-processors","new-pricing-page","deprecated-payment-processor-banner","payments-education-module","order-summary-deposit-amount","enterprise-separate-invited-users","datadog-browser-logs","reduce-stripe-minimum-charge-amount","validate-service-ids","plan-based-trial","paging-website-facade-request","deprecated-payment-processor-modal","mobile-store-stripe-generated-cards","in-app-promo-banner","invoice-decouple-single-page","tip-event-reporting","pylon-detailed-payment-error-handling","update-subscription-events"] || [];

		window.Acuity.Analytics = window.Acuity.Analytics || {};
		
		</script>
				
					<link rel="stylesheet" href="//csp.secure.acuityscheduling.com/pylon-4aa959448617cb419f91a1fd7c3f86a9ccf0526e/standalone.css" />
					<script>
		
		const redactDatadogEventUri = function(event, propertyPath) {
			if (!event) return;

			const allowListParams = new Set(['action', 'tab', 'page']);
			const props = propertyPath.split('.');
			const lastProp = props[props.length - 1];
			let currentObj = event;

			for (let i = 0; i < props.length - 1; i++) {
				if (!currentObj[props[i]]) {
					return;
				}
				currentObj = currentObj[props[i]];
			}

			if (!currentObj[lastProp]) return;

			const urlObject = new URL(currentObj[lastProp]);
			const searchParams = new URLSearchParams(urlObject.search);

			for (const [key, value] of searchParams.entries()) {
				if (!allowListParams.has(key)) {
					searchParams.set(key, '-')
				}
			}
			urlObject.search = searchParams.toString();
			currentObj[lastProp] = urlObject.toString();
		};
		

	
			
		(function(h,o,u,n,d) {
			h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
			d=o.createElement(u);d.async=1;d.src=n
			n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
		})(window,document,'script','https://www.datadoghq-browser-agent.com/us5/v5/datadog-logs.js','DD_LOGS')
		window.DD_LOGS.onReady(function() {
			window.DD_LOGS.init({
				clientToken: 'pub9743dfb6fa5aff233631b8e0ed8796d3',
				site: 'us5.datadoghq.com',
				forwardErrorsToLogs: true,
				sessionSampleRate: 100,
				
				service: 'acuity',
				env: 'production',
				version: 'e06c6b5a51d47c68625428b8832ba0eb9534198d',
				
				beforeSend: (log) => {
					redactDatadogEventUri(log, 'http.url');
					redactDatadogEventUri(log, 'view.url');
					redactDatadogEventUri(log, 'view.referrer');
				}
			})
		});
		
		</script>

		<script type="text/javascript" nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">
var RECAPTCHA_SITE_KEY = '6Lfj59UmAAAAAAS_LRReC2ZEV-T-E15s0JWZsSYL';
</script>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6Lfj59UmAAAAAAS_LRReC2ZEV-T-E15s0JWZsSYL&hl=en"></script>
	</head>
<body class="no-touch   template-monthly locale-en_US">
			<script type="text/javascript" nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">
		
		if (self!=top) document.body.className+=' is-embedded';
		
		</script>
	
<noscript nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">
<p class="alert alert-danger">Javascript must be enabled to use this. <a href="https://www.google.com/support/adsense/bin/answer.py?answer=12654" target="_blank">Learn how to enable Javascript</a></p>
</noscript>



<div class="business-container fb-extensions-remove">
	<img src="//cdn-s.acuityscheduling.com/logo33788339.jpg?1729933999" class="business-logo" alt="KWL Booking" />
	</div>


<div class="content ">
	<div id="popup" style="display:none">
		<button type="button" class="close close-popup pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<div class="pane" id="popup-content">
			<!-- dynamic -->
		</div>
	</div>

	<div id="page-loading">
		<div class="progress-spinner"></div>
		<h2>Loading...</h2>
	</div>
				<form id="appointment-form" class="content-scheduling-steps" style="display:none" novalidate>
		<input type="hidden" name="owner" id="owner" value="33788339" />
		<input type="hidden" name="isIntegratedSquarespace" id="isIntegratedSquarespace" value="true" />
		<input type="hidden" id="free" value="" />
		<input type="hidden" name="linkAppointmentType" value="null" />
		<input type="hidden" name="linkCalendar" value="null" />
		<input type="hidden" id="upgradeUrl" name="upgradeUrl" value="https://badger-duck-pemb.squarespace.com/config/scheduling-service/preferences.php?action=myaccount&from=free-embed-popup" />

				<div class="header">
			<ol class="steps">
				<li class="active step-pick-appointment"><a href="/schedule.php?owner=33788339&template=monthly">
					Choose Appointment
				</a></li>
				<li class="step-forms"><a href="#">Your Info</a></li>
				<li class="step-confirmation"><a href="#">Confirmation</a></li>
			</ol>
			<div class="heading-actions">
				<div class="login-container client-login">
					Returning? <a href="client-login.php?owner=33788339&PHPSESSID=3gfovlr4emel1gatdnf3s2kas5&returnUrl=%2Fschedule.php%3Fowner%3D33788339%26template%3Dmonthly" class="client-login-btn branded" data-testid="client-login-button">Log in</a>
				</div>
			</div>

					</div>

		
<div class="pane error-flash alert alert-danger hidden" style="display:none;" data-testid="error-notice"></div>

				<div class="step-container" data-step="pick-appointment" id="step-pick-appointment" >
				<div id="timezone-container" title="KWL Booking time zone is Asia/Kolkata"
          style="display: none">
		<span id="timezone-label" class="babel-ignore">(GMT+5:30) India Standard Time</span>
						<div>
			<select name="timezone" class="form-control inline-field babel-ignore timezone-select-inactive" id="timezone" disabled><optgroup label="United States"><option value="Pacific/Honolulu" >(GMT-10:00) Hawaii Time</option>
    <option value="America/Anchorage" >(GMT-8:00) Alaska Time</option>
    <option value="America/Los_Angeles" >(GMT-7:00) Pacific Time</option>
    <option value="America/Denver" >(GMT-6:00) Mountain Time</option>
    <option value="America/Phoenix" >(GMT-7:00) Arizona Time</option>
    <option value="America/Chicago" >(GMT-5:00) Central Time</option>
    <option value="America/New_York" >(GMT-4:00) Eastern Time</option>
    </optgroup><option disabled></option><option value="Pacific/Apia" >(GMT+13:00) Apia</option>
    <option value="Pacific/Midway" >(GMT-11:00) Midway</option>
    <option value="Pacific/Niue" >(GMT-11:00) Niue</option>
    <option value="Pacific/Pago_Pago" >(GMT-11:00) Pago Pago</option>
    <option value="Pacific/Fakaofo" >(GMT+13:00) Fakaofo</option>
    <option value="Pacific/Johnston" >(GMT-10:00) Johnston</option>
    <option value="Pacific/Rarotonga" >(GMT-10:00) Rarotonga</option>
    <option value="Pacific/Tahiti" >(GMT-10:00) Tahiti</option>
    <option value="Pacific/Marquesas" >(GMT-9:30) Marquesas</option>
    <option value="Pacific/Gambier" >(GMT-9:00) Gambier</option>
    <option value="America/Tijuana" >(GMT-7:00) Pacific Time - Tijuana</option>
    <option value="America/Vancouver" >(GMT-7:00) Pacific Time - Vancouver</option>
    <option value="Pacific/Pitcairn" >(GMT-8:00) Pitcairn</option>
    <option value="America/Dawson_Creek" >(GMT-7:00) Mountain Time - Dawson Creek</option>
    <option value="America/Edmonton" >(GMT-6:00) Mountain Time - Edmonton</option>
    <option value="America/Hermosillo" >(GMT-7:00) Mountain Time - Hermosillo</option>
    <option value="America/Mazatlan" >(GMT-7:00) Mountain Time - Chihuahua, Mazatlan</option>
    <option value="America/Whitehorse" >(GMT-7:00) Mountain Time - Whitehorse</option>
    <option value="America/Yellowknife" >(GMT-6:00) Mountain Time - Yellowknife</option>
    <option value="America/Belize" >(GMT-6:00) Belize</option>
    <option value="America/Costa_Rica" >(GMT-6:00) Costa Rica</option>
    <option value="America/El_Salvador" >(GMT-6:00) El Salvador</option>
    <option value="America/Guatemala" >(GMT-6:00) Guatemala</option>
    <option value="America/Managua" >(GMT-6:00) Managua</option>
    <option value="America/Mexico_City" >(GMT-6:00) Central Time - Mexico City</option>
    <option value="America/Regina" >(GMT-6:00) Central Time - Regina</option>
    <option value="America/Tegucigalpa" >(GMT-6:00) Central Time - Tegucigalpa (no DST)</option>
    <option value="America/Winnipeg" >(GMT-5:00) Central Time - Winnipeg</option>
    <option value="Pacific/Easter" >(GMT-5:00) Easter Island</option>
    <option value="Pacific/Galapagos" >(GMT-6:00) Galapagos</option>
    <option value="America/Bogota" >(GMT-5:00) Bogota</option>
    <option value="America/Cayman" >(GMT-5:00) Cayman</option>
    <option value="America/Grand_Turk" >(GMT-4:00) Grand Turk</option>
    <option value="America/Guayaquil" >(GMT-5:00) Guayaquil</option>
    <option value="America/Havana" >(GMT-4:00) Havana</option>
    <option value="America/Iqaluit" >(GMT-4:00) Eastern Time - Iqaluit</option>
    <option value="America/Jamaica" >(GMT-5:00) Jamaica</option>
    <option value="America/Lima" >(GMT-5:00) Lima</option>
    <option value="America/Cancun" >(GMT-5:00) Cancun - Eastern Time - Quintana Roo</option>
    <option value="America/Nassau" >(GMT-4:00) Nassau</option>
    <option value="America/Panama" >(GMT-5:00) Panama</option>
    <option value="America/Port-au-Prince" >(GMT-4:00) Port-au-Prince</option>
    <option value="America/Toronto" >(GMT-4:00) Eastern Time - Toronto</option>
    <option value="America/Caracas" >(GMT-4:00) Caracas</option>
    <option value="America/Anguilla" >(GMT-4:00) Anguilla</option>
    <option value="America/Antigua" >(GMT-4:00) Antigua</option>
    <option value="America/Aruba" >(GMT-4:00) Aruba</option>
    <option value="America/Asuncion" >(GMT-3:00) Asuncion</option>
    <option value="America/Barbados" >(GMT-4:00) Barbados</option>
    <option value="America/Boa_Vista" >(GMT-4:00) Boa Vista</option>
    <option value="America/Campo_Grande" >(GMT-4:00) Campo Grande</option>
    <option value="America/Cuiaba" >(GMT-4:00) Cuiaba</option>
    <option value="America/Curacao" >(GMT-4:00) Curacao</option>
    <option value="America/Dominica" >(GMT-4:00) Dominica</option>
    <option value="America/Grenada" >(GMT-4:00) Grenada</option>
    <option value="America/Guadeloupe" >(GMT-4:00) Guadeloupe</option>
    <option value="America/Guyana" >(GMT-4:00) Guyana</option>
    <option value="America/Halifax" >(GMT-3:00) Atlantic Time - Halifax</option>
    <option value="America/La_Paz" >(GMT-4:00) La Paz</option>
    <option value="America/Manaus" >(GMT-4:00) Manaus</option>
    <option value="America/Martinique" >(GMT-4:00) Martinique</option>
    <option value="America/Montserrat" >(GMT-4:00) Montserrat</option>
    <option value="America/Port_of_Spain" >(GMT-4:00) Port of Spain</option>
    <option value="America/Porto_Velho" >(GMT-4:00) Porto Velho</option>
    <option value="America/Puerto_Rico" >(GMT-4:00) Puerto Rico</option>
    <option value="America/Rio_Branco" >(GMT-5:00) Rio Branco</option>
    <option value="America/Santiago" >(GMT-3:00) Santiago</option>
    <option value="America/Santo_Domingo" >(GMT-4:00) Santo Domingo</option>
    <option value="America/St_Kitts" >(GMT-4:00) St. Kitts</option>
    <option value="America/St_Lucia" >(GMT-4:00) St. Lucia</option>
    <option value="America/St_Thomas" >(GMT-4:00) St. Thomas</option>
    <option value="America/St_Vincent" >(GMT-4:00) St. Vincent</option>
    <option value="America/Thule" >(GMT-3:00) Thule</option>
    <option value="America/Tortola" >(GMT-4:00) Tortola</option>
    <option value="Antarctica/Palmer" >(GMT-3:00) Palmer</option>
    <option value="Atlantic/Bermuda" >(GMT-3:00) Bermuda</option>
    <option value="Atlantic/Stanley" >(GMT-3:00) Stanley</option>
    <option value="America/St_Johns" >(GMT-2:30) Newfoundland Time - St. Johns</option>
    <option value="America/Araguaina" >(GMT-3:00) Araguaina</option>
    <option value="America/Argentina/Buenos_Aires" >(GMT-3:00) Buenos Aires</option>
    <option value="America/Bahia" >(GMT-3:00) Salvador</option>
    <option value="America/Belem" >(GMT-3:00) Belem</option>
    <option value="America/Cayenne" >(GMT-3:00) Cayenne</option>
    <option value="America/Fortaleza" >(GMT-3:00) Fortaleza</option>
    <option value="America/Godthab" >(GMT-1:00) Godthab</option>
    <option value="America/Maceio" >(GMT-3:00) Maceio</option>
    <option value="America/Miquelon" >(GMT-2:00) Miquelon</option>
    <option value="America/Montevideo" >(GMT-3:00) Montevideo</option>
    <option value="America/Paramaribo" >(GMT-3:00) Paramaribo</option>
    <option value="America/Recife" >(GMT-3:00) Recife</option>
    <option value="America/Sao_Paulo" >(GMT-3:00) Sao Paulo</option>
    <option value="Antarctica/Rothera" >(GMT-3:00) Rothera</option>
    <option value="America/Noronha" >(GMT-2:00) Noronha</option>
    <option value="Atlantic/South_Georgia" >(GMT-2:00) South Georgia</option>
    <option value="America/Scoresbysund" >(GMT-1:00) Scoresbysund</option>
    <option value="Atlantic/Azores" >(GMT+0:00) Azores</option>
    <option value="Atlantic/Cape_Verde" >(GMT-1:00) Cape Verde</option>
    <option value="Africa/Abidjan" >(GMT+0:00) Abidjan</option>
    <option value="Africa/Accra" >(GMT+0:00) Accra</option>
    <option value="Africa/Bamako" >(GMT+0:00) Bamako</option>
    <option value="Africa/Banjul" >(GMT+0:00) Banjul</option>
    <option value="Africa/Bissau" >(GMT+0:00) Bissau</option>
    <option value="Africa/Casablanca" >(GMT+1:00) Casablanca</option>
    <option value="Africa/Conakry" >(GMT+0:00) Conakry</option>
    <option value="Africa/Dakar" >(GMT+0:00) Dakar</option>
    <option value="Africa/El_Aaiun" >(GMT+1:00) El Aaiun</option>
    <option value="Africa/Freetown" >(GMT+0:00) Freetown</option>
    <option value="Africa/Lome" >(GMT+0:00) Lome</option>
    <option value="Africa/Monrovia" >(GMT+0:00) Monrovia</option>
    <option value="Africa/Nouakchott" >(GMT+0:00) Nouakchott</option>
    <option value="Africa/Ouagadougou" >(GMT+0:00) Ouagadougou</option>
    <option value="Africa/Sao_Tome" >(GMT+0:00) Sao Tome</option>
    <option value="America/Danmarkshavn" >(GMT+0:00) Danmarkshavn</option>
    <option value="Atlantic/Canary" >(GMT+1:00) Canary Islands</option>
    <option value="Atlantic/Faroe" >(GMT+1:00) Faeroe</option>
    <option value="Atlantic/Reykjavik" >(GMT+0:00) Reykjavik</option>
    <option value="Atlantic/St_Helena" >(GMT+0:00) St Helena</option>
    <option value="Etc/GMT" >(GMT+0:00) GMT (no daylight saving)</option>
    <option value="Europe/Dublin" >(GMT+1:00) Dublin</option>
    <option value="Europe/Lisbon" >(GMT+1:00) Lisbon</option>
    <option value="Europe/London" >(GMT+1:00) London</option>
    <option value="Africa/Algiers" >(GMT+1:00) Algiers</option>
    <option value="Africa/Bangui" >(GMT+1:00) Bangui</option>
    <option value="Africa/Brazzaville" >(GMT+1:00) Brazzaville</option>
    <option value="Africa/Ceuta" >(GMT+2:00) Ceuta</option>
    <option value="Africa/Douala" >(GMT+1:00) Douala</option>
    <option value="Africa/Kinshasa" >(GMT+1:00) Kinshasa</option>
    <option value="Africa/Lagos" >(GMT+1:00) Lagos</option>
    <option value="Africa/Libreville" >(GMT+1:00) Libreville</option>
    <option value="Africa/Luanda" >(GMT+1:00) Luanda</option>
    <option value="Africa/Malabo" >(GMT+1:00) Malabo</option>
    <option value="Africa/Ndjamena" >(GMT+1:00) Ndjamena</option>
    <option value="Africa/Niamey" >(GMT+1:00) Niamey</option>
    <option value="Africa/Porto-Novo" >(GMT+1:00) Porto-Novo</option>
    <option value="Africa/Tunis" >(GMT+1:00) Tunis</option>
    <option value="Africa/Windhoek" >(GMT+2:00) Windhoek</option>
    <option value="Europe/Amsterdam" >(GMT+2:00) Amsterdam</option>
    <option value="Europe/Andorra" >(GMT+2:00) Andorra</option>
    <option value="Europe/Belgrade" >(GMT+2:00) Central European Time (Europe/Belgrade)</option>
    <option value="Europe/Berlin" >(GMT+2:00) Berlin</option>
    <option value="Europe/Brussels" >(GMT+2:00) Brussels</option>
    <option value="Europe/Budapest" >(GMT+2:00) Budapest</option>
    <option value="Europe/Copenhagen" >(GMT+2:00) Copenhagen</option>
    <option value="Europe/Gibraltar" >(GMT+2:00) Gibraltar</option>
    <option value="Europe/Luxembourg" >(GMT+2:00) Luxembourg</option>
    <option value="Europe/Madrid" >(GMT+2:00) Madrid</option>
    <option value="Europe/Malta" >(GMT+2:00) Malta</option>
    <option value="Europe/Monaco" >(GMT+2:00) Monaco</option>
    <option value="Europe/Oslo" >(GMT+2:00) Oslo</option>
    <option value="Europe/Paris" >(GMT+2:00) Paris</option>
    <option value="Europe/Prague" >(GMT+2:00) Central European Time (Europe/Prague)</option>
    <option value="Europe/Rome" >(GMT+2:00) Rome</option>
    <option value="Europe/Stockholm" >(GMT+2:00) Stockholm</option>
    <option value="Europe/Tirane" >(GMT+2:00) Tirane</option>
    <option value="Europe/Vaduz" >(GMT+2:00) Vaduz</option>
    <option value="Europe/Vienna" >(GMT+2:00) Vienna</option>
    <option value="Europe/Warsaw" >(GMT+2:00) Warsaw</option>
    <option value="Europe/Zurich" >(GMT+2:00) Zurich</option>
    <option value="Africa/Blantyre" >(GMT+2:00) Blantyre</option>
    <option value="Africa/Bujumbura" >(GMT+2:00) Bujumbura</option>
    <option value="Africa/Cairo" >(GMT+3:00) Cairo</option>
    <option value="Africa/Gaborone" >(GMT+2:00) Gaborone</option>
    <option value="Africa/Harare" >(GMT+2:00) Harare</option>
    <option value="Africa/Johannesburg" >(GMT+2:00) Johannesburg</option>
    <option value="Africa/Kigali" >(GMT+2:00) Kigali</option>
    <option value="Africa/Lubumbashi" >(GMT+2:00) Lubumbashi</option>
    <option value="Africa/Lusaka" >(GMT+2:00) Lusaka</option>
    <option value="Africa/Maputo" >(GMT+2:00) Maputo</option>
    <option value="Africa/Maseru" >(GMT+2:00) Maseru</option>
    <option value="Africa/Mbabane" >(GMT+2:00) Mbabane</option>
    <option value="Africa/Tripoli" >(GMT+2:00) Tripoli</option>
    <option value="Asia/Amman" >(GMT+3:00) Amman</option>
    <option value="Asia/Beirut" >(GMT+3:00) Beirut</option>
    <option value="Asia/Damascus" >(GMT+3:00) Damascus</option>
    <option value="Asia/Gaza" >(GMT+3:00) Gaza</option>
    <option value="Asia/Jerusalem" >(GMT+3:00) Jerusalem</option>
    <option value="Asia/Nicosia" >(GMT+3:00) Nicosia</option>
    <option value="Europe/Athens" >(GMT+3:00) Athens</option>
    <option value="Europe/Bucharest" >(GMT+3:00) Bucharest</option>
    <option value="Europe/Chisinau" >(GMT+3:00) Chisinau</option>
    <option value="Europe/Helsinki" >(GMT+3:00) Helsinki</option>
    <option value="Europe/Istanbul" >(GMT+3:00) Istanbul</option>
    <option value="Europe/Kaliningrad" >(GMT+2:00) Russia - Kaliningrad</option>
    <option value="Europe/Kiev" >(GMT+3:00) Kyiv</option>
    <option value="Europe/Minsk" >(GMT+3:00) Minsk</option>
    <option value="Europe/Riga" >(GMT+3:00) Riga</option>
    <option value="Europe/Sofia" >(GMT+3:00) Sofia</option>
    <option value="Europe/Tallinn" >(GMT+3:00) Tallinn</option>
    <option value="Europe/Vilnius" >(GMT+3:00) Vilnius</option>
    <option value="Africa/Addis_Ababa" >(GMT+3:00) Addis Ababa</option>
    <option value="Africa/Asmara" >(GMT+3:00) Asmera</option>
    <option value="Africa/Dar_es_Salaam" >(GMT+3:00) Dar es Salaam</option>
    <option value="Africa/Djibouti" >(GMT+3:00) Djibouti</option>
    <option value="Africa/Kampala" >(GMT+3:00) Kampala</option>
    <option value="Africa/Khartoum" >(GMT+2:00) Khartoum</option>
    <option value="Africa/Mogadishu" >(GMT+3:00) Mogadishu</option>
    <option value="Africa/Nairobi" >(GMT+3:00) Nairobi</option>
    <option value="Antarctica/Syowa" >(GMT+3:00) Syowa</option>
    <option value="Asia/Aden" >(GMT+3:00) Aden</option>
    <option value="Asia/Baghdad" >(GMT+3:00) Baghdad</option>
    <option value="Asia/Bahrain" >(GMT+3:00) Bahrain</option>
    <option value="Asia/Kuwait" >(GMT+3:00) Kuwait</option>
    <option value="Asia/Qatar" >(GMT+3:00) Qatar</option>
    <option value="Asia/Riyadh" >(GMT+3:00) Riyadh</option>
    <option value="Europe/Moscow" >(GMT+3:00) Russia - Moscow</option>
    <option value="Indian/Antananarivo" >(GMT+3:00) Antananarivo</option>
    <option value="Indian/Comoro" >(GMT+3:00) Comoro</option>
    <option value="Indian/Mayotte" >(GMT+3:00) Mayotte</option>
    <option value="Asia/Tehran" >(GMT+3:30) Tehran</option>
    <option value="Asia/Baku" >(GMT+4:00) Baku</option>
    <option value="Asia/Dubai" >(GMT+4:00) Dubai</option>
    <option value="Asia/Muscat" >(GMT+4:00) Muscat</option>
    <option value="Asia/Tbilisi" >(GMT+4:00) Tbilisi</option>
    <option value="Asia/Yerevan" >(GMT+4:00) Yerevan</option>
    <option value="Europe/Samara" >(GMT+4:00) Russia - Samara</option>
    <option value="Indian/Mahe" >(GMT+4:00) Mahe</option>
    <option value="Indian/Mauritius" >(GMT+4:00) Mauritius</option>
    <option value="Indian/Reunion" >(GMT+4:00) Reunion</option>
    <option value="Asia/Kabul" >(GMT+4:30) Kabul</option>
    <option value="Asia/Aqtau" >(GMT+5:00) Aqtau</option>
    <option value="Asia/Aqtobe" >(GMT+5:00) Aqtobe</option>
    <option value="Asia/Ashgabat" >(GMT+5:00) Ashgabat</option>
    <option value="Asia/Dushanbe" >(GMT+5:00) Dushanbe</option>
    <option value="Asia/Karachi" >(GMT+5:00) Karachi</option>
    <option value="Asia/Tashkent" >(GMT+5:00) Tashkent</option>
    <option value="Asia/Yekaterinburg" >(GMT+5:00) Russia - Yekaterinburg</option>
    <option value="Indian/Kerguelen" >(GMT+5:00) Kerguelen</option>
    <option value="Indian/Maldives" >(GMT+5:00) Maldives</option>
    <option value="Asia/Kolkata" selected>(GMT+5:30) India Standard Time</option>
    <option value="Asia/Colombo" >(GMT+5:30) Colombo</option>
    <option value="Asia/Kathmandu" >(GMT+5:45) Kathmandu</option>
    <option value="Antarctica/Mawson" >(GMT+5:00) Mawson</option>
    <option value="Antarctica/Vostok" >(GMT+5:00) Vostok</option>
    <option value="Asia/Almaty" >(GMT+5:00) Almaty</option>
    <option value="Asia/Bishkek" >(GMT+6:00) Bishkek</option>
    <option value="Asia/Dhaka" >(GMT+6:00) Dhaka</option>
    <option value="Asia/Omsk" >(GMT+6:00) Russia - Omsk</option>
    <option value="Asia/Novosibirsk" >(GMT+7:00) Russia - Novosibirsk</option>
    <option value="Asia/Thimphu" >(GMT+6:00) Thimphu</option>
    <option value="Indian/Chagos" >(GMT+6:00) Chagos</option>
    <option value="Asia/Rangoon" >(GMT+6:30) Rangoon</option>
    <option value="Indian/Cocos" >(GMT+6:30) Cocos</option>
    <option value="Antarctica/Davis" >(GMT+7:00) Davis</option>
    <option value="Asia/Bangkok" >(GMT+7:00) Bangkok</option>
    <option value="Asia/Hovd" >(GMT+7:00) Hovd</option>
    <option value="Asia/Jakarta" >(GMT+7:00) Jakarta</option>
    <option value="Asia/Krasnoyarsk" >(GMT+7:00) Russia - Krasnoyarsk</option>
    <option value="Asia/Phnom_Penh" >(GMT+7:00) Phnom Penh</option>
    <option value="Asia/Ho_Chi_Minh" >(GMT+7:00) Hanoi</option>
    <option value="Asia/Vientiane" >(GMT+7:00) Vientiane</option>
    <option value="Indian/Christmas" >(GMT+7:00) Christmas</option>
    <option value="Antarctica/Casey" >(GMT+8:00) Casey</option>
    <option value="Asia/Brunei" >(GMT+8:00) Brunei</option>
    <option value="Asia/Choibalsan" >(GMT+8:00) Choibalsan</option>
    <option value="Asia/Hong_Kong" >(GMT+8:00) Hong Kong</option>
    <option value="Asia/Irkutsk" >(GMT+8:00) Russia - Irkutsk</option>
    <option value="Asia/Kuala_Lumpur" >(GMT+8:00) Kuala Lumpur</option>
    <option value="Asia/Macau" >(GMT+8:00) Macau</option>
    <option value="Asia/Makassar" >(GMT+8:00) Makassar</option>
    <option value="Asia/Manila" >(GMT+8:00) Manila</option>
    <option value="Asia/Shanghai" >(GMT+8:00) China Time - Beijing</option>
    <option value="Asia/Singapore" >(GMT+8:00) Singapore</option>
    <option value="Asia/Taipei" >(GMT+8:00) Taipei</option>
    <option value="Asia/Ulaanbaatar" >(GMT+8:00) Ulaanbaatar</option>
    <option value="Australia/Perth" >(GMT+8:00) Western Time - Perth</option>
    <option value="Asia/Dili" >(GMT+9:00) Dili</option>
    <option value="Asia/Jayapura" >(GMT+9:00) Jayapura</option>
    <option value="Asia/Pyongyang" >(GMT+9:00) Pyongyang</option>
    <option value="Asia/Seoul" >(GMT+9:00) Seoul</option>
    <option value="Asia/Tokyo" >(GMT+9:00) Tokyo</option>
    <option value="Asia/Yakutsk" >(GMT+9:00) Russia - Yakutsk</option>
    <option value="Pacific/Palau" >(GMT+9:00) Palau</option>
    <option value="Australia/Adelaide" >(GMT+10:30) Central Time - Adelaide</option>
    <option value="Australia/Darwin" >(GMT+9:30) Central Time - Darwin</option>
    <option value="Antarctica/DumontDUrville" >(GMT+10:00) Dumont D'Urville</option>
    <option value="Asia/Vladivostok" >(GMT+10:00) Russia - Yuzhno-Sakhalinsk</option>
    <option value="Australia/Brisbane" >(GMT+10:00) Eastern Time - Brisbane</option>
    <option value="Australia/Hobart" >(GMT+11:00) Eastern Time - Hobart</option>
    <option value="Australia/Sydney" >(GMT+11:00) Eastern Time - Sydney</option>
    <option value="Australia/Melbourne" >(GMT+11:00) Eastern Time - Melbourne</option>
    <option value="Pacific/Guam" >(GMT+10:00) Guam</option>
    <option value="Pacific/Port_Moresby" >(GMT+10:00) Port Moresby</option>
    <option value="Pacific/Saipan" >(GMT+10:00) Saipan</option>
    <option value="Pacific/Chuuk" >(GMT+10:00) Chuuk</option>
    <option value="Asia/Magadan" >(GMT+11:00) Russia - Magadan</option>
    <option value="Pacific/Efate" >(GMT+11:00) Efate</option>
    <option value="Pacific/Guadalcanal" >(GMT+11:00) Guadalcanal</option>
    <option value="Pacific/Kosrae" >(GMT+11:00) Kosrae</option>
    <option value="Pacific/Noumea" >(GMT+11:00) Noumea</option>
    <option value="Pacific/Pohnpei" >(GMT+11:00) Pohnpei</option>
    <option value="Pacific/Norfolk" >(GMT+12:00) Norfolk</option>
    <option value="Asia/Kamchatka" >(GMT+12:00) Russia - Petropavlovsk-Kamchatskiy</option>
    <option value="Pacific/Auckland" >(GMT+13:00) Auckland</option>
    <option value="Pacific/Fiji" >(GMT+12:00) Fiji</option>
    <option value="Pacific/Funafuti" >(GMT+12:00) Funafuti</option>
    <option value="Pacific/Kwajalein" >(GMT+12:00) Kwajalein</option>
    <option value="Pacific/Majuro" >(GMT+12:00) Majuro</option>
    <option value="Pacific/Nauru" >(GMT+12:00) Nauru</option>
    <option value="Pacific/Tarawa" >(GMT+12:00) Tarawa</option>
    <option value="Pacific/Wake" >(GMT+12:00) Wake</option>
    <option value="Pacific/Wallis" >(GMT+12:00) Wallis</option>
    <option value="Pacific/Enderbury" >(GMT+13:00) Enderbury</option>
    <option value="Pacific/Tongatapu" >(GMT+13:00) Tongatapu</option>
    <option value="Pacific/Kiritimati" >(GMT+14:00) Kiritimati</option>
</select>
		</div>
	</div>

			<div class="pane business-description-container" style="display:none">
								<div class="babel-ignore business-description" style="display:none">
					
				</div>
			</div>

			<input type="text" id="jump-to-top" style="display:none;height:10px;width:10px;border:none;background:transparent;opacity:0;overflow:hidden;" />

			<div class="pane pick-appointment-pane">
				
				
<div class="select select-type">
                    <button class="back-button" type="button"><i class="fa fa-chevron-left"></i>View all appointments</button>
					
																													<input
		type="radio"
		name="appointmentType"
		data-is-group="0"
		data-is-class="0"
		data-is-series="0"
		data-sms-reminders-enabled="0"
		data-sms-opt-in-enabled="0"
		id="appointmentType-70166786" value="70166786" />
<div
	class="select-item-box select-item "
     tabindex="0"
>
        <div class="content-container">
        <div class="details-container">
            <div>
                <label
                    class="babel-ignore"
                    for="appointmentType-70166786">
                    <span class="appointment-type-name">Consultation </span>
                </label>
                <div class="duration-container">
                    <span class="duration babel-ignore" id="appointment-70166786-duration">50 minutes</span>
                                            <span class="at-desc">@</span>
                        <span class="price">
                                <span id="appointment-70166786-original-price">
                                    $45.00
                                </span>
                            </span>
                                    </div>
            </div>
            <button class="btn btn-primary" type="button" data-testid="appointment-70166786-select">Book</button>
        </div>
        
            </div>
	<div class="clearfix"></div>
</div>
																						
															<div class="clearfix"></div>
				</div>

				
								<div class="select select-calendar" style="display:none">
                    <button class="back-button" type="button"><i class="fa fa-chevron-left"></i>View all calendars</button>
					<div class="select-label">With...</div>
					<div id="select-calendar-options">
						<!-- dynamic -->
					</div>
				</div>



                					<div id='secondo-monthly-calendar'></div>
                				<div class="choose-date-time" style="display:none">
					<input type="hidden" name="date[]" id="date" value=""/>
					<div class="choose-date">
                        Loading...
					</div>
					<div class="choose-time-container" style="display:none">
						<h1></h1>
						<div class="choose-time"><!-- times go here --></div>
                                                <div class="choose-time-actions" style="display:none">
	<ul>
		<li>
			<a href="#" class="btn btn-primary btn-block btn-next-step" data-testid="continue-button">Continue &raquo;</a>
		</li>
		<li>
			<a href="#selected-times" class="btn btn-default btn-block btn-additional" data-testid="additional-time-button">Add a Time...</a>
		</li>
		<li>
			<a href="#" class="btn btn-default btn-block btn-recurring" data-testid="recurring-time-button">Recurring...</a>
		</li>
	</ul>
</div>					</div>
				</div>
				<div id="selected-times-container">
						<a href="#" class="btn btn-primary btn-next-step-top btn-next-step" style="display:none">Continue &raquo;</a>
						<div id="selected-times">
							<!-- dynamic -->
						</div>
						<a href="#" class="btn btn-primary btn-next-step">Continue &raquo;</a>
					</div>
			</div>
		</div>

				<div class="step-container" data-testid="step-your-info" data-step="forms" id="step-forms" style="display:none">
			<div class="pane your-info">
				<button class="back-button your-info-edit-btn change-pick-appointment" type="button" aria-expanded="true"><i class="fa fa-chevron-left"></i>Edit Appointment Information</button>
<div class="selected-appointment-details"></div>
<div class="form-group required-field is-focused">
	<label for="first-name" class="control-label hide-if-no-placeholder">Name <span class="error">*</span> <span class="show-on-error">(required)</span></label>
	<div>
		<span class="hide-if-placeholder">First Name <span class="error">*</span></span>
		<input type="text" class="form-control" name="firstName" id="first-name" value="Kilvish" placeholder="First Name" autocomplete="given-name" data-testid="first-name-input"/>
		<span class="hide-if-placeholder">Last Name <span class="error">*</span></span>
		<input type="text" class="form-control" name="lastName" id="last-name" value="Birla" placeholder="Last Name" autocomplete="family-name" data-testid="last-name-input"/>
	</div>
</div>
<div class="form-group ">
	<label for="phone" class="control-label">Phone</label>
	<p class="babel-ignore hidden" id="sms-notice-before">
        Add your phone number to receive an appointment reminder via text message.
	</p>
	<input type="text" class="form-control" name="phone" id="phone" value="9845 1516" autocomplete="tel" data-force-country-code="true" data-initial-country="IN" data-testid="phone-input"/>
	<p class="small babel-ignore hidden" id="sms-notice-after">
        Message and data rates may apply. One message per appointment.
	</p>
</div>
<div class="form-group required-field">
	<label for="email" class="control-label">Email <span class="error">*</span> <span class="show-on-error">(required)</span></label>
	<input type="email" class="form-control" name="email" id="email" value="kilvishbirla@gmail.com" autocorrect="off" autocomplete="email" data-testid="email-input"/>
	<div class="help-block" id="email-error-help" style="display:none">Your email address is invalid<span id="email-error-domain">. Did you type the domain correctly?</span></div>
</div>			</div>

			<div class="pane" id="custom-forms"></div>
		</div>

		<div class="step-container" data-step="confirmation" id="step-confirmation" style="display:none">
					</div>

		<div class="clearfix"></div>

		</form>

<script type="text/x-template" id="recurring-template" nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">
	<div class="recur-repeat">
		<div class="form-group">
			<div>
				<strong>
					<span class="recur-time">time</span>
					<span class="recur-day">day</span>,
					<span class="recur-start">start</span>
				</strong>
			</div>
			<div class="margin-top">
				<label for="recur-type">
					Repeat
				</label>
				<select id="recur-type" class="form-control inline-field">
					<option value="weekly" id="recur-weekly" data-text="Every %s">
						weekly
					</option>
					<option value="biweekly" id="recur-biweekly" data-text="Every other %s">
						every other week
					</option>
					<option value="triweekly" id="recur-triweekly" data-text="Every third %s">
						every third week
					</option>
					<option value="quadweekly" id="recur-quadweekly" data-text="Every fourth %s">
						every fourth week
					</option>
					<option value="monthly" id="recur-monthly" data-text="The %s of every month">
						monthly
					</option>
					<option value="monthly-day" id="recur-monthly-day" data-text="The %s %s of every month">
						monthly
					</option>
					<option value="daily" id="recur-daily">
						Daily
					</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="recur-times">
				Times to repeat
			</label>
			<select id="recur-times" class="form-control inline-field">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8" selected="selected">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
			</select>
		</div>

		<a href="#" class="btn btn-primary margin-top-small" id="add-recur-times">Add Recurring Times</a>
		<a href="#" class="btn btn-link close-popup">cancel</a>

		<div class="margin-top-big recur-additional">
			<div class="text-muted">
				<span id="text-recurring-additional-pre">Instead of recurring, add</span>
				<span class="recur-time"></span>
				<span class="recur-start"></span>
				<span id="text-recurring-additional-post">and</span>
			</div>
			<a href="#selected-times" class="margin-top-small btn btn-default btn-additional" data-testid="additional-time-from-recurring-button">Add a Time...</a>
		</div>
	</div>
</script>


<script type="text/javascript" nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">
var autodetect_timezone = 0;
var isFree = 0;
var SID = 'PHPSESSID=3gfovlr4emel1gatdnf3s2kas5';
var ownerTz = 'Asia/Kolkata';
var hasAddons = '0';
var locationUrl = '';

var typeToCalendars = new Array();

typeToCalendars[70166786] = [[10974205, 'Kilvish Birla', '', '', '', 'Asia/Kolkata']  ];
</script>

    
	<script type="text/javascript" src="//csp.secure.acuityscheduling.com/pylon-4aa959448617cb419f91a1fd7c3f86a9ccf0526e/standalone.en-US.js"></script>
</div>

<div id="acuity-footer"  >
	<div class="poweredby-content babel-ignore">
		<a href="https://www.acuityscheduling.com/?utm_campaign=acuity&amp;utm_medium=referral&amp;utm_source=scheduling" target="_blank">
							<img alt="Powered By Acuity Scheduling" src="/img/brand/logo-powered-by-acuity.png" width="167"/>
					</a>
	</div>
</div>

<script type="text/javascript" nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">

</script>
<style type="text/css" nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45" media="all">

</style>
	

<script type="text/javascript" nonce="003a15df4fb62bb90afa3aa0650699cf0ef294ea3c5fb3e7e83f5ee5d29fde49888945e95c2b7182330b5c77240a2acbace207875698acd9e31d383a61907e45">
var autodetect_timezone = false;
var LOCALE='en_US';
var LOCALE_SETTINGS = {"weekdays":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"months":["January","February","March","April","May","June","July","August","September","October","November","December"],"dateFormat":"%B %e, %Y","translations":{"certificate.remaining.expires":"Expires","schedule.js.error_load_times":"Unable to load times, please try again","embed.js.paidOnly":"Allow clients to schedule themselves by embedding your client scheduling page. Available on any paid plan. ","schedule.catalog.notice":"Heads up!","schedule.catalog.purchase_note":"You're purchasing {0} separate subscriptions of {1}.","schedule.js.set_timezone_to_continue":"Set your time zone to continue:","schedule.js.set_timezone_button":"Set time zone","schedule.loading":"Loading...","schedule.js.onboarding_test_appt":"Great! You scheduled a test appointment. Now on to the <a href=\"{0}\">next step.<\/a>","schedule.js.freeErrorSquarespace.2":"Online scheduling is not currently available. Please contact the business directly.","schedule.js.upgradeNow":"upgrading now","schedule.js.upgradeNowAcuity":"Upgrade Now &raquo;","schedule.js.confirm.are_you_sure_cancel":"Are you sure you want to cancel this appointment?","schedule.js.confirm.yes_cancel":"Yes, cancel appointment","schedule.js.confirm.no_dont":"No, don't cancel","schedule.js.addon_prompt":"Add to your appointment...","schedule.js.any_available":"Any available","schedule.js.error_set_quantity":"Please set a quantity and then choose a date again","schedule.js.not_enough_spots":"Not enough spots are available","schedule.js.no_appointments_this_month":"No appointments are available this month","schedule.signup.passwords_do_not_match":"Passwords do not match","schedule.signup.please_agree_to_terms":"Please agree to the Terms of Service to register","schedule.js.please_enter_password":"Please enter a password","schedule.js.please_enter_username":"Please enter a username","schedule.js.error_password_cannot_be_blank":"Password cannot be blank","schedule.js.error_conflict":"This conflicts with another appointment or is outside business hours","schedule.js.error_past":"This time is in the past","schedule.js.error_far_advance":"This time is too far in advance","schedule.js.error_max_day":"No more appointments can be booked for this day","schedule.js.error_max_week":"No more appointments can be booked for this week","schedule.js.error_failed_load":"Error, failed to load. Please try again.","schedule.js.remove":"Remove","schedule.js.no_times_available":"No times are available. Please go back and choose a different time.","schedule.js.no_times":"Your times are no longer available, please choose a new appointment time.","schedule.js.select_calendar_button":"Select","stripe.js.unknown_error":"An unknown error occurred. Please try again","stripe.js.authentication_required":"This payment requires authentication","stripe.js.reenter":"Please re-enter the card number and try again.","stripe.js.generic_error":"We're experiencing issues with our payment processor. Please reload and try again.","stripe.js.account_invalid":"Your payment could not be completed. Please contact the business directly, they will need to reconnect with their payment processor.","schedule.js.square_expiration_date":"MM\/YY"},"dateEndings":["th","st","nd","rd","th","th","th","th","th","th","th","th","th","th","th","th","th","th","th","th","th","st","nd","rd","th","th","th","th","th","th","th","st"]};
var TEMPLATE_NAME = 'monthly';
var SQSP_ORIGINS = [
	'https://badger-duck-pemb.squarespace.com',
	'https://badger-duck-pemb.squarespace.com'
];
</script>
<script type="text/javascript" id="typekit-loader">

try {
	typeof Typekit !== 'undefined' && Typekit.load();
} catch (e) {
	console.log("Error loading Typekit: ", e);
}

</script>

<!-- inject:js -->
<script type="text/javascript" src="https://cdn-marketing.acuityscheduling.com/built/csp/squareWebPayments.js?v=e06c6b"></script>
<script type="text/javascript" src="https://cdn-marketing.acuityscheduling.com/built/csp/schedule.all.js?v=e06c6b"></script>
<!-- endinject -->















</body>

</html>
