

<%- include ("header.ejs") %>

  <main class="main">
    <!-- Stats Section -->
    <section id="stats" class="section light-background">
        <div class="container section-title" data-aos="fade-up" style="padding-bottom: 0px;">
            <h2>Internal Server Error</h2>
               <!-- alert msgs -->
               <% if ( output.includes('successfully') ) { %>
                <p id="kilmessage" class="success-text"><%= output %></p>
             <% } else { %>
                <p id="kilmessage" class="error-text"><%= output %></p>
             <% } %>
               <!-- /alert msgs -->
        </div>
    </section>
    <!-- /Stats Section -->

    <img src="../images/icons/500.gif" style="height: 650px !important; width: 100%;">




</main>


    
<%- include ("footer.ejs") %>

	