

<%- include ("header.ejs") %>

  <main class="main">
    <!-- Stats Section -->
    <section id="stats" class="section light-background">
        <div class="container section-title" data-aos="fade-up" style="padding-bottom: 0px;">
            <h2>errr</h2>
            <p>Effortlessly book your cargo pickup appointments and ensure a smooth collection process.</p>
        </div>
    </section>
    <!-- /Stats Section -->

    <img src="../images/icons/500.gif" style="height: 650px !important;">




</main>


    
<%- include ("footer.ejs") %>

	