
    
    
 <%- include ("header.ejs") %>

<%- include ("sidebar.ejs") %>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>View Appointment</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active">View Appointment</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>TRN</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Mobile Number</th>
                                            <th>Email Address</th>
                                            <th>Agent/Freight Forwarder</th>
                                            <th>Individual Making Appointment</th>
                                            <th>Appointment Type</th>
                                            <th>Vessel Name</th>
                                            <th>Vessel Reported Date </th>
                                            <th>Bill of Lading Number</th>
                                            <th>Chassis No </th>
                                            <th>IMS4 Declaration Number</th>
                                            <th>Container Number</th>
                                            <th>Number of Pieces/Packages</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>abc</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td>None</td>
                                            <td><span class="badge badge-danger"> Inactive </span></td>
                                            <td> 
                                                <a href="#" class="btn btn-outline-primary btn-sm" style="margin: 3px;"><i class="fa fa-edit"></i> Edit </a>
                                                <a href="#" class="btn btn-outline-danger btn-sm" style="margin: 3px;"><i class="fa fa-trash"></i> Delete </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<%- include ("footer.ejs") %>
    
  