<footer class="main-footer">
    <strong>Copyright &copy; 2024 <a href="#"> KWL-IAS </a>.</strong> All rights reserved.<div class="float-right d-sm-inline-block"> Designed & Developed by <a href="https://myambergroup.com/" target="_blank"><b>CISS</b></a></div>
</footer>



</div>
<!-- // wrapper -->

<!-- jQuery -->
<script src="../adminassets/plugins/jquery/jquery.min.js"></script>

<!-- jQuery UI 1.11.4 -->
<script src="../adminassets/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Bootstrap 4 -->
<script src="../adminassets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- ChartJS -->
<script src="../adminassets/plugins/chart.js/Chart.min.js"></script>

<!-- Sparkline -->
<script src="../adminassets/plugins/sparklines/sparkline.js"></script>

<!-- JQVMap -->
<script src="../adminassets/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="../adminassets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

<!-- jQuery Knob Chart -->
<script src="../adminassets/plugins/jquery-knob/jquery.knob.min.js"></script>

<!-- daterangepicker -->
<!-- <script src="../adminassets/plugins/moment/moment.min.js"></script> -->
<!-- <script src="../adminassets/plugins/daterangepicker/daterangepicker.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.43/builds/moment-timezone-with-data.min.js"></script>


<!-- Tempusdominus Bootstrap 4 -->
<script src="../adminassets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Summernote -->
<!-- <script src="../adminassets/plugins/summernote/summernote-bs4.min.js"></script> -->

<!-- overlayScrollbars -->
<!-- <script src="../adminassets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script> -->

<!-- AdminLTE App -->
<script src="../adminassets/dist/js/adminlte.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="../adminassets/dist/js/demo.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




<!-- DataTables  & Plugins -->
<script src="../adminassets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../adminassets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../adminassets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../adminassets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../adminassets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../adminassets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../adminassets/plugins/jszip/jszip.min.js"></script>
<script src="../adminassets/plugins/pdfmake/pdfmake.min.js"></script>
<script src="../adminassets/plugins/pdfmake/vfs_fonts.js"></script>
<script src="../adminassets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../adminassets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../adminassets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<!-- DataTables  & Plugins -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


                                <!-- Flatpickr CSS -->
                                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

                                <!-- Flatpickr JS -->
                                <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</body>
</html>



<script>
    $(function () {
      $("#example1").DataTable({
        "lengthChange": true, // Enable the Entries per Page dropdown
    "lengthMenu": [10, 25, 50, 100], // Customize the dropdown options (optional)
        "responsive": true, "autoWidth": false,
        /*"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]*/
        "buttons": ["excel", "pdf", "csv", "colvis"],
        "order": [[0, "desc"]]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });




          // Initialize Flatpickr with yyyy-mm-dd format
        //   flatpickr("#dp4", { dateFormat: "Y-m-d" });
        //  flatpickr("#dp5", { dateFormat: "Y-m-d" });
                                      
            
        
   
  document.addEventListener("DOMContentLoaded", function () {
    const dateInputs = document.querySelectorAll('input[type="date"]');
    dateInputs.forEach(input => {
      // Set the current date if needed
      input.value = input.value || new Date().toISOString().split("T")[0];
    });
  });




  </script>
