<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../adminassets/images/favcon-iconr.png">
    <title>Dashboard </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../adminassets/plugins/fontawesome-free/css/all.min.css">
    
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="../adminassets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    
    <!-- iCheck -->
    <link rel="stylesheet" href="../adminassets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    
    <!-- JQVMap -->
    <link rel="stylesheet" href="../adminassets/plugins/jqvmap/jqvmap.min.css">
    
    <!-- Theme style -->
    <link rel="stylesheet" href="../adminassets/dist/css/adminlte.min.css">
    
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../adminassets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../adminassets/plugins/daterangepicker/daterangepicker.css">
    
    <!-- summernote -->
    <link rel="stylesheet" href="../adminassets/plugins/summernote/summernote-bs4.min.css">


        <!-- DataTables -->
        <link rel="stylesheet" href="../adminassets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="../adminassets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="../adminassets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        
        <!-- Profile -->
        <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <span class="d-none d-md-inline">Administrator</span>&nbsp;&nbsp;&nbsp;
                <img src="../adminassets/images/user-160x160.jpg" class="user-image img-circle elevation-2" alt="User Image">
            </a>
            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <!-- User image -->
                <li class="user-header bg-warning">
                    <img src="../adminassets/images/user-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    <p>Administrator</p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">              



                    <a href="/superadmin/profile" class="btn btn-default btn-flat">My Profile</a>
                
                    <a href="/superadmin/logout" class="btn btn-default btn-flat float-right">Sign out</a>

                </li>
                <!-- Menu Footer-->
            </ul>
        </li>
        <!-- Profile -->
    
    </ul>
</nav>
<!-- // navbar -->