<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../adminassets/images/favcon-icon.png">
    <title>Login || KWL - Integrated Appointment System Admin</title>
    
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../adminassets/plugins/fontawesome-free/css/all.min.css">
    
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../adminassets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    
    <!-- Theme style -->
    <link rel="stylesheet" href="../adminassets/dist/css/adminlte.min.css">
    
    <!-- Common Pages CSS -->
    <link rel="stylesheet" href="../adminassets/dist/common.css">
    
    <link rel="stylesheet" href="../adminassets/dist/css/style.css">
</head>
<body class="hold-transition login-page" style="background-size: cover;background-image: url(images/background_image.jpg) !important;">
    <div class="login-box">
    
        <!-- // login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/superadmin" class="h1"><img src="../adminassets/images/logo.png"></a>
                <!-- <a href="login.php" class="h1">KWL-IAS</a> -->
            </div>
            <div class="card-body">
                <p class="login-box-msg">Login in Dashboard</p>
                    <!-- alert msgs -->
                    <% if ( output.includes('successfully') ) { %>
                        <p id="kilmessage" class="success-text"><%= output %></p>
                     <% } else { %>
                        <p id="kilmessage" class="error-text"><%= output %></p>
                     <% } %>


                     
              <% if (output.includes('another')) { %>
                <div class="alert alert-warning">
                    <p>Seems you have been logged in to some other device. Kindly logout from the previous device and try again.</p>
                    <form method="post" action="/superadmin/logoutandProceed">
                        <input type="hidden" name="admin_id" value="<%= admin_id %>">
                        <button class="btn btn-primary btn-block" type="submit">Logout & Proceed </button>
                    </form>
                </div>
            <% } else { %>
                       <!-- /alert msgs -->
                <form method="post" action="/superadmin/login">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" autocomplete="off" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Enter password" autocomplete="off" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fa fa-eye" id="toggleEye" onclick="togglePassword()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <input type="submit" class="btn btn-danger btn-block" name="login" value="Login">
                        </div>
                        <div class="col-4"></div>
                    </div>
                </form>

                <% } %>
            </div><!-- // card-body -->
        </div><!-- // card -->
    </div><!-- // login-box -->

    <!-- jQuery -->
    <script src="../adminassets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="../adminassets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script src="../adminassets/dist/js/adminlte.min.js"></script>
</body>
</html>


<script>
    function togglePassword() {
    const passwordField = document.getElementById("password");
    const toggleEye = document.getElementById("toggleEye");
    
    if (passwordField.type === "password") {
        passwordField.type = "text";
        toggleEye.classList.remove("fa-eye");
        toggleEye.classList.add("fa-eye-slash");
    } else {
        passwordField.type = "password";
        toggleEye.classList.remove("fa-eye-slash");
        toggleEye.classList.add("fa-eye");
    }
}
</script>